<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <span>Estructura captaciones</span>
      </nb-card-header>
      <nb-card-body>
        <sig-chart-estructura [datos]="estructuraPasivas"></sig-chart-estructura>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
        <nb-card-header>
          <span>Estructura colocaciones</span>
        </nb-card-header>
        <nb-card-body>
          <sig-chart-estructura [datos]="estructuraActivas"></sig-chart-estructura>
        </nb-card-body>
    </nb-card>
  </div>
</div>
